// assets/scss/main.scss

$primary-color: #84f3ff;
body {
  font-family: Arial, sans-serif;
  color: $primary-color;
  margin: 0;
  padding: 0;

  h1 {
    color: darken($primary-color, 10%);
  }
}
div{
  box-sizing: border-box;
}
.border-gold{
    border: solid 1px yellow;
}
.border-primary{
  border: solid 1px rgb(87, 211, 246);
}
.curve{
    border-radius: 9px;
}
.bg-dark{
  background:rgb(52, 52, 52);
}
.d-none{
  display: none;
}
.opacity-0{
  opacity: 0;
}